name: Docker Image CI

on:
  workflow_dispatch: {}
  push: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build the image
      run: |
        tag="${GITHUB_REF##*/}"
        if [ "$tag" = "master" ]
        then
          tag="latest"
        fi
        image_name="ghcr.io/pschichtel/cert-manager-webhook-cloudns:$tag"
        podman build -t "$image_name" .
        podman push "$image_name"

